* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mini {
    background-image: url("./image.svg");
    width: 1400px;
    height: 674px;
    margin: 0 auto;
    padding: 39px;
    margin-top: 156px;
}

#veniam {
    color: #fff;
    font-size: 44px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
    width: 1258px;
}

#first {
    width: 1073px;
    padding: 40px 32px;
    border-radius: 24px;
    background: #EBF8FE;
    margin-left: 392px;
    margin-top: 115px;
}

#service {
    font-size: 64px;
    color: #181D27;
    text-align: center;
}

#policy {
    font-size: 32px;
    color: #535862;
    margin-top: 24px;
}


#plugins {
    margin-top: 24px;
    width: 488px;
    margin: 0 auto;
}

#about {
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    width: 317px;
    display: inline-block;
}

#dolor {
    color: white;
    padding: 12px 18px;
    display: inline-block;
    background: #007CB8;
    border-radius: 8px;
    border: 2px solid #FFF;
    margin-left: 24px;
}

#spam {
    color: #535862;
}

#java {
    width: 482px;
    padding: 40px 32px;
    border-radius: 24px;
    background-color: #EBF8FE;
    margin-left: 660px;
    margin-top: 72px;
}

#typo {
    color: #181D27;
    font-size: 40px;
    font-style: normal;
}

#nothing {
    margin-top: 24px;
    display: block;
    color: #1B003D;
}

#vertical {
    border-radius: 8px;
    border: 1px solid #380054;
    margin-top: 8px;
    padding: 8px 16px;
    background: #EBF8FE;
    width: 400px;
}

#some {
    display: block;
    margin-top: 24px;
    color: #1B003D;
}

#never {
    border-radius: 8px;
    border: 1px solid #380054;
    margin-top: 8px;
    padding: 8px 16px;
    background: #EBF8FE;
    width: 400px;
}

#data {
    margin-top: 24px;
    width: 338px;
}

#disi {
    margin-top: 10px;
    margin-bottom: 10px;
}
#simon {
    color: #1B003D;
    font-size: 14px;
}

#arqi {
    margin-top: 24px;
}

#bmw {
    margin-top: 10px;
    margin-bottom: 10px;
}

#mercedes {
    margin-bottom: 10px;
}